/*SP版のところ*/
@media(max-width: 670px ){
*{
    box-sizing: border-box;
}
body{
    background: #FCFCFC;
    margin: 0;
    font-family: 'Noto Sans'
}

/*共通部分-------------------------------------*/
/*header*/
.header{
    background-color: #918F89;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header_logo{
    text-align: center;
    z-index: 1000;
}
.header_logo p{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 0;
    
}
 /* ハンバーガーメニュー*/
.menuTrigger {
    width: 40px;
    height: 40px;
}
.menuTrigger span {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 4px;
    transition: all 0.3s;
}
.menuTrigger span:nth-of-type(1){
    top: 14px;
}
.menuTrigger span:nth-of-type(2){
    top: 27px;    
}
.menuTrigger span:nth-of-type(3){
    top: 40px;
}
/* ハンバーガーメニューのJSで表示させる部分 */
.menuTrigger_opened span:nth-of-type(1){
    top: 25px;
    transform: rotate(-45deg);
}
.menuTrigger_opened span:nth-of-type(2){
    opacity: 0;
}
.menuTrigger_opened span:nth-of-type(3){
    top: 25px;
    transform: rotate(45deg);
}

/* アコーディオンメニュー */
.header_nav {
    width: 100%;
    opacity: 0;
}
.header_nav_opened{
    height: 243px;
    position: absolute;
    top: 55px;
    opacity: 1;
    animation: show 1s linear 0s;
}
.list_item {
    opacity: 1;
    line-height: 80px;
    background-color: #918F89;
    opacity: 0.9;
    height: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    transition: all 0.3s;
}
.list_item.list_item_opened{
    height: 80px;
}
.anchor {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 0;
}
.anchor.anchor_opened {
    font-size: 23px;
    padding: 22px 120px;
}
/*footer*/
.footer_nav{
    display: none;
}
.footer{
    background-color: #918F89;
    height: 276px;
    padding-top: 86px;
}
.footer_logo{
    text-align: center;
}
.footer_logo p{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 16px;
    margin-bottom: 63px;
}
.footer_copyright_text{
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 10px;
    font-size: xx-small;
    font-weight: lighter;
    color: #FFFFFF;
}
/*index.htmlの部分-------------------------------------*/
/*about_top*/
.about_top{
    margin-top: 55px;
    background-image: url("img/sp_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 647px;
    position: relative;
    z-index: -1;
    margin-bottom: 72px;
}
.about_top_text{
    position: absolute;
    top: 148px;
    left: 0;
    height: 270px;
}
.about_top_text span{
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 39px;
    font-weight: 100;
    color: #918F89;
    line-height: 77px;
    margin-bottom: 12px;
}
.about_top_text_item{
    padding: 5px 20px 5px 50px;
}
span.br::before{
    content: "\A";
    white-space: pre;
}
/*proposal*/
.proposal{
    margin: 0 15px 140px;
}
.proposal_textBox h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    font-weight: 100;
    margin-bottom: 34px;
}
.proposal_textBox p{
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.42px;
    color: #3B3B3B;
    margin-bottom: 30px;
    background-image: url("img/img02.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0 top 300px;
    height: 600px;
}
/*style*/
.style{
    margin: 0 5% 140px;
}
.style_title{
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    text-align: center;
    margin-bottom: 30px;
    background-image: url("img/img03.png");
    background-repeat: no-repeat;
    background-size: auto 290px;
    background-position: left 0 top 100px;
    height: 400px;
}
.style_dotBox{
    display: flex;
    justify-content: center;
}
.dot, .dot_center{
    background: #A5A5A5;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0 1px;
}
.dot{
    opacity: 0.3;
}
/*news*/
.news{
    margin-bottom:140px;
}
.news_title{
    font-size: 25px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    text-align: center;
    margin-bottom: 85px;
}
.product_container {
    padding: 0 10%;
    margin-bottom: 50px;
}
.product_style {
    width: 100%;
    height: 287px; 
    position: relative;
    margin-bottom: 30px;
} 
#couch, #chair, #table {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#couch {
    background-image: url("img/img04.png");
}
#chair {
    background-image: url("img/img05.png");
}
#table {
    background-image: url("img/img06.png");
}
.product_style p{
    position: absolute;
    top: 100%;
    /* 親要素の100%下からくる設定（bottom: 0; の設定では動きが違う） */
    color: transparent;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}
/* ここの擬似要素でbgcの準備・設定。（heightで隠してる） */
.product_style::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
}
.product_style:hover::before {
    height: 100%;
}
.product_style:hover .text {
    color: #FFFFFF;
    top: 50%;
}
.news_text{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #3B3B3B;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1.05px;
}
/*form*/
.form{
    margin: 0 50px 178px;
}
.form_title{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2.5px;
    margin-bottom: 65px;
}
.form_name, .form_email, .form_content{
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.7px;
    color: #3B3B3B;
    opacity: 0.4;
    background: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-bottom: 20px;
    padding: 10px;
}
.form_name, .form_email{
    height: 35px;
}
.form_content{
    height: 156px;
    margin-bottom: 35px;
}
.form_submit{
    display: none;
}
.form_submit_sp{
    display: block;
    width: 174px;
    height: 49px;
    margin: 60px auto 0;
    background-color: #D1D1D1;
    color: #707070;
    letter-spacing: 0.9px;
    border-radius: 45px;
    border-style: none;
    font-size: 15px;
    font-weight: lighter;
}
/*news.htmlの部分-------------------------------------*/
/*newsPage*/
.newsPage_top_text{
    background-image: url("img/sp_02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    text-align: center;
    padding-top: 130px;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #918F89;
}
.newsPage_article_latestInfo{
    margin-bottom: 70px;
}
.newsPage_article_latestInfo_title{
    margin-bottom: 70px;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 2.1px;
    color: #3B3B3B;
}
.newsPage_article_latestInfo a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #272727;
    font-size: 22px;
    font-weight: 100;
}
.newsPage_article_latestInfo i {
    color: #00000034;
    font-size: 40px;
    text-align: center;
    display: block;
}
/*qa.htmlの部分-------------------------------------*/
.qaPage_top_text{
    background-image: url("img/sp_03.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    text-align: center;
    padding-top: 130px;
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #FFFFFF;
}
.qa{
    margin: 0 8% 250px;
}
.qa_title{
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 2.1px;
    color: #3B3B3B;
    margin-bottom: 50px;
}
.qaBox{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}
.qaBox i {
    color: #a1909034;
    cursor: pointer;
    transition: all 0.5s 0s ease;
}
.qaBox_closed{
    opacity: 0;
    transition: all 0.5s 0s ease;
}
/* JSで表示させる部分 */
.qaBox_opened {
    opacity: 1;
    padding-bottom: 50px;
}
/* JSで表示させる部分 */
.qa_rotatte {
    transform: rotate(-180deg);
}
}
