/*SP版のところ*/

@media(max-width: 670px ){
*{
    box-sizing: border-box;
}
body{
    background: #FCFCFC;
    margin: 0;
    font-family: 'Noto Sans'
}

/*headerはじまり-------------------------------------*/
.header{
    height: 55px;
    background-color: #918F89;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.header_logo{
    text-align: center;
}
.header_logo p{
    display: inline-block;/*これないとtext崩れる*/
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 0;
}
.header_nav{
    display: none;
}
/*headerおわり-------------------------------------*/

/*about_topはじまり-------------------------------------*/
.about_top{
    margin-top: 55px;
    background-image: url("img/sp_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 647px;
    position: relative;
    z-index: -1;
    margin-bottom: 72px;
}
.about_top_text{
    position: absolute;
    top: 148px;
    left: 0;
    height: 270px;
}
.about_top_text span{
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 39px;
    font-weight: 100;
    color: #918F89;
    line-height: 77px;
    margin-bottom: 12px;
}
.about_top_text_item{
    padding: 5px 20px 5px 50px;
}
span.br::before{
    content: "\A";
    white-space: pre;
}
/*about_topのおわり-------------------------------------*/

/*proposalはじまり-------------------------------------*/
.proposal{
    margin: 0 15px 140px;
}
.proposal_textBox h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    font-weight: 100;
    margin-bottom: 34px;
}
.proposal_textBox p{
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.42px;
    color: #3B3B3B;
    margin-bottom: 30px;
}
.proposal_sp_backgroundImg{
    background-image: url("img/img02.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 266px;
    margin: 0 10px;
}
/*proposalのおわり-------------------------------------*/

/*styleはじまり-------------------------------------*/
.style{
    margin-bottom: 140px;
}
.style_title{
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    text-align: center;
    margin-bottom: 30px;
}
.style_backgroundImg{
    background-image: url("img/img03.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    margin: 0 15px 30px;
}
.style_dotBox{
    display: flex;
    justify-content: center;
}
.dot, .dot_center{
    background: #A5A5A5;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0 1px;
}
.dot{
    opacity: 0.3;
}
/*styleのおわり-------------------------------------*/

/*newsはじまり-------------------------------------*/
.news{
    margin-bottom: 140px;
}
.news_title{
    font-size: 25px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    text-align: center;
    margin-bottom: 85px;
}
.news_imgBox{
    width: 100%;
    margin-bottom: 50px;
}
.news_imgBox_item{
    display: block;
    width: 286px;
    height: 276px;
    margin: 0 auto 30px;
}
.news_text{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #3B3B3B;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1.05px;
}
/*newsおわり-------------------------------------*/

/*formはじまり-------------------------------------*/
.form_title{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2.5px;
    margin-bottom: 65px;
}
.form_name, .form_email, .form_content{
    display: block;
    width: 286px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.7px;
    color: #3B3B3B;
    opacity: 0.4;
    background: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin: 0 auto 20px;
    padding: 10px;
}
.form_name, .form_email{
    height: 35px;
}
.form_content{
    height: 156px;
    margin-bottom: 35px;
}
.form_submit{
    display: none;
}
.form_submit_sp{
    display: block;
    width: 174px;
    height: 49px;
    margin: 60px auto 0;
    background-color: #D1D1D1;
    color: #707070;
    letter-spacing: 0.9px;
    border-radius: 45px;
    border-style: none;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 178px;
}
/*formおわり-------------------------------------*/

/*footerはじまり-------------------------------------*/
.footer_nav{
    display: none;
}
.footer{
    background-color: #918F89;
    height: 276px;
    padding-top: 86px;
}
.footer_logo{
    text-align: center;
}
.footer_logo p{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 16px;
    margin-bottom: 63px;
}
.footer_copyright_text{
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 10px;
    font-size: xx-small;
    font-weight: lighter;
    color: #FFFFFF;
}



/*footerおわり-------------------------------------*/


}
