*{
    box-sizing: border-box;
}
body{
    background: #FCFCFC;
    margin: 0;
}
/*.containerの部分があるとうまくいかない*/
/*.container{
/*max-width: 1280pxないと余白はないがスクロールの部分と重なる
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}*/

/*headerはじまり-------------------------------------*/
.header_wrap{
    height: 60px;
    width: 100%;
    display: flex;
    /*display: inline-flexだとこのdiv自体もinline化する*/
}
.header_logo{
    width: 50%;
}
.header_nav{
    width: 50%;
}
.header_logo p{
    display: inline-block;
    text-align: center;
    color: #918F89;
    font-weight: bold;
    margin: 15px 0 0 88px;
    line-height: 16px;
}
.header_nav_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.header_nav_list_item{
    margin-right: 90px;
}
.header_nav_list_item a{
    text-decoration: none;
    color: #272727;
    opacity: 0.5;
}
/*linkとvisited　うまく作用してない
a:link{
    text-decoration: none;
    color: #272727;
    opacity: 0.5;
    vertical-align: baseline;
}
a:visited{
    text-decoration: underline;
    color: #272727;
    opacity: 1;
    vertical-align: bottom;
}*/
/*headerおわり-------------------------------------*/

/*article01はじまり-------------------------------------*/
.article01_wrap{
    position: relative;
    width: 100%;
    margin-bottom: 10%;
}
.img01{
    width: 100%;
    height: auto;
}
.article01_text{
    font-size: 5vw;
    /*あんまりvwわかってない*/
    position: absolute;
    top: 35%;
    letter-spacing: 3px;
    color: #918F89;
    background-color: #FFFFFF;
    opacity: 0.8;
    margin: 0;
    padding: 1% 4%;
    font-weight: lighter;
}
/*article01のおわり-------------------------------------*/

/*article02はじまり-------------------------------------*/
.article02_wrap{
    display: flex;
    margin-bottom: 15%;
}
.article02_imgBox{
    width: 45%;
    margin-left: 5%;
}
.img02{
    width: 100%;
}
.article02_textBox{
    width: 55%;
    padding-left: 5%;
    
}
.article02_textBox_h1Wrap{
    position: relative;
    height: 50%;
}
.article02_textBox_h1Wrap h1{
    position: absolute;
    bottom: 0;
    font-size: 2.5vw;
    letter-spacing: 2.5px;
    color: #3B3B3B;
}
.article02_textBox_pWrap{
    height: 50%;
}
.article02_textBox_pWrap p{
    font-size: 1.1vw;
    
    letter-spacing: 0.36px;
    color: #3B3B3B;
}
/*article02のおわり-------------------------------------*/

/*article03はじまり-------------------------------------*/
.article03_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.5vw;
    color: #3B3B3B;
}
.article03 img{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.article03_dotBox{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 10%;
}
.dot{
    background: #A5A5A5;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    opacity: 0.3;
    margin: 0 1px;
}
.dot_center{
    background: #A5A5A5;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    opacity: 1;
    margin: 0 1px;
}
/*article03のおわり-------------------------------------*/

/*article04はじまり-------------------------------------*/
.article04_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.5vw;
}
.article04_imgBox{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    justify-content: space-between;
}
.article04_imgBox_item{
    width: 30%;
}
.article04_text{
    text-align: center;
    margin-bottom: 15%;
}
/*article04おわり-------------------------------------*/

/*formはじまり-------------------------------------*/
.form_title{
    text-align: center;
    font-size: 2.5vw;
}
.form_name, .form_email{
    display: block;
    width: 35%;
    height: 3vw;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
}
.form_content{
    display: block;
    width: 35%;
    height: 15vw;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
}
.form_submit{
    display: block;
    width: 6.5%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1D1D1;
    color: #707070;
    letter-spacing: 0.75px;
    border-radius: 45px;
    margin-bottom: 20%;
    border-style: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/*formおわり-------------------------------------*/

/*footerはじまり-------------------------------------*/
footer{
    background-color: #918F89;
}
.footer_wrap{
    height: 284px;
    width: 100%;
    display: flex;
    align-items: center;
    /*display: inline-flexだとこのdiv自体もinline化する*/
}
.footer_logo{
    width: 50%;
}
.footer_nav{
    width: 50%;
}
.footer_logo p{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 16px;
    margin-left: 30%;
}
.footer_nav_list{
    list-style: none;
    margin-right: 30%;
    display: flex;
    justify-content: flex-end;
}
.footer_nav_list_item{
    margin-left: 90px;
}
.footer_nav_list_item a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer_copyright{
    text-align: center;
    padding-bottom: 2.5%;
}
.footer_copyright_text{
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
/*footerおわり-------------------------------------*/

/*newsPageはじまり-------------------------------------*/
.newsPage_imgItem{
    width: 100%;
    vertical-align: bottom;
}
.newsPage_wrap{
    position: relative;
}
.newsPage_text{
    position: absolute;
    padding-left: 20%;
    top: 40%;
    font-size: 2vw;
    margin: 0;
    /*これだめtransform: translateY(-50%)*/
    letter-spacing: 3px;
    color: rgb(97, 85, 85);
    text-shadow: 5px 5px 1px  rgb(97, 85, 85, 0.1);
}
.newsPage_article01_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.5vw;
    margin: 10% 0;
}
.newsPage_article01_imgBox{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 25%;
    display: flex;
    justify-content: space-between;
}
.newsPage_article01_imgBox_item{
    width: 30%;
}
/*newsPageおわり-------------------------------------*/

/*qaPageはじまり-------------------------------------*/
.qaPage_imgItem{
    width: 100%;
    vertical-align: bottom;
}
.qaPage_wrap{
    position: relative;
}
.qaPage_text{
    position: absolute;
    padding-left: 20%;
    top: 40%;
    font-size: 2vw;
    margin: 0;
    /*これだめtransform: translateY(-50%)*/
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 1px  rgb(255, 255, 255, 0.1);
}
.qaPage_article01_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 2.5vw;
    margin: 7% 0;
}
.qaBox_item{
    width: 45%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}
.qaBox_item_text{
    margin: 0;
}
/*くの字矢印、あんまわかってない*/
.qaBox_item_arrow{
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    transform: rotate(-45deg);
    }
.qaBox{

}
/*qaPageおわり-------------------------------------*/
