*{
    box-sizing: border-box;
}
body{
    background: #FCFCFC;
    margin: 0;
    font-family: 'Noto Sans'
}
/*headerはじまり-------------------------------------*/
.header_wrap{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}
.header_logo p{
    display: inline-block;
    text-align: center;
    font-weight: 900;
    color: #918F89;
    font-size: 16px;
}
.header_nav{
    width: 335px;
}
.header_nav_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header_nav_list_item a{
    font-weight: lighter;
    text-decoration: none;
    color: #272727;
    opacity: 0.5;
}
/*headerおわり-------------------------------------*/

/*about_topはじまり-------------------------------------*/
.about_top{
    background-image: url("img/img01.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 741px;
    position: relative;
}
.about_top_text{
    position: absolute;
    top: 264px;
    width: 702px;
    height: 136px;
    padding: 31px 60px 23px 88px;
    line-height: 82px;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #918F89;
    background-color: rgb(255, 255, 255, 0.8);
}
/*about_topのおわり-------------------------------------*/

/*proposalはじまり-------------------------------------*/
.proposal{
    margin: 142px 0 200px;
}
.proposal_textBox{
    margin: 0 100px;
    padding-left: 632px;
    background-image: url("img/img02.png");
    background-repeat: no-repeat;
    background-size: 544px 500px;
    background-position: left 88px top 0;
    height: 500px;
}
.proposal_textBox h2, .proposal_textBox p{
    margin-left: 70px;
}
.proposal_textBox h2{
    padding-top: 201px;
    text-align: left;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2.5px;
    color: #3B3B3B;
}
.proposal_textBox p{
    padding-top: 40px;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 0.36px;
    color: #3B3B3B;
}
/*proposalのおわり-------------------------------------*/

/*styleはじまり-------------------------------------*/
.style{
    margin-bottom: 210px;
}
.style_title{
    width: 194px;
    height: 29px;
    margin: 0 auto 50px;
    font-size: 25px;
    line-height: 29px;
    font-weight: 100;
    letter-spacing: 2.5px;
    color: #3B3B3B;
}
.style_backgroundImg{
    background-image: url("img/img03.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 503px;
    margin: 0 158px;
}
.style_dotBox{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.dot, .dot_center{
    background: #A5A5A5;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin: 0 1px;
}
.dot{
    opacity: 0.3;
}
/*styleのおわり-------------------------------------*/

/*newsはじまり-------------------------------------*/
.news_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 50px;
}
.news_imgBox{
    margin: 0 89px;
    display: flex;
    justify-content: space-between;
}
.news_imgBox_item{
    width: 30%;
    object-fit: cover;
}
.news_text{
    display: block;
    text-align: center;
    margin: 40px auto 220px;
    text-decoration: none;
    color: #3B3B3B;
}
/*newsおわり-------------------------------------*/

/*formはじまり-------------------------------------*/
.form_title{
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;    
}
.form_name, .form_email, .form_content{
    display: block;
    width: 35%;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.6px;
    color: #3B3B3B;
    opacity: 0.4;
    background: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin: 30px auto 0;
    padding-left: 17px;
}
.form_name, .form_email{
    height: 35px;
}
.form_content{
    height: 156px;
    padding-top: 11px;
}
.form_submit{
    display: block;
    width: 111px;
    height: 35px;
    margin: 60px auto 221px;
    background-color: #707070;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    border-radius: 45px;
    border-style: none;
    font-size: 15px;
    font-weight: lighter;
}
/*formおわり-------------------------------------*/

/*footerはじまり-------------------------------------*/
.footer{
    background-color: #918F89;
    height: 284px;
    padding: 115px 220px 115px 220px;    
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.footer_logo p{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 16px;
}
.footer_nav_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer_nav_list_item{
    margin-left: 90px;
}
.footer_nav_list_item a{
    font-weight: lighter;
    text-decoration: none;
    color: #FFFFFF;
}
.footer_copyright{
    text-align: center;
}
.footer_copyright_text{
    letter-spacing: 0.4px;
    line-height: 14px;
    font-size: xx-small;
    font-weight: lighter;
    color: #FFFFFF;
}
/*footerおわり-------------------------------------*/

/*newsPageはじまり-------------------------------------*/
.newsPage_top{
    background-image: url("img/img07.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
    position: relative;
}
.newsPage_top_text{
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    top: 179px;
    left: 228px;
    letter-spacing: 3px;
    color: #918F89;
    text-shadow: 5px 5px 1px rgb(145, 143, 137, 0.1);
}
.newsPage_article_latestInfo_title{
    text-align: center;
    letter-spacing: 2.1px;
    font-weight: lighter;
    color: #3B3B3B;
    font-size: 20px;
    margin: 80px auto;
}
.newsPage_article_latestInfo_imgBox{
    margin: 0 89px 320px;
    display: flex;
    justify-content: space-between;
}
.newsPage_article_latestInfo_imgBox_item{
    width: 30%;
    object-fit: cover;
}
/*newsPageおわり-------------------------------------*/

/*qaPageはじまり-------------------------------------*/
.qaPage_top{
    background-image: url("img/img08.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
    position: relative;
}
.qaPage_top_text{
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    top: 179px;
    left: 228px;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-shadow: 5px 5px 1px rgb(255, 255, 255, 0.1);
}
.qaPage_article_frequentlyQA_title{
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 20px;
    font-weight: lighter;
    margin: 98px auto 73px;
}
.qaBox_item{
    width: 45%;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}
.qaPage_article_frequentlyQA{
    margin-bottom: 215px;/*子要素のmargin-bottomは相殺されてる*/
}
.fa-angle-down{
    color: #00000034;
}
/*qaPageおわり-------------------------------------*/